.status-blue {
    /*-fx-background-color: rgba(0, 0, 128, 0.7);*/
    -fx-background-color: #0000ff;
}

.status-green {
    -fx-background-color: #2ca02c;
}

.status-red {
    -fx-background-color: #d62728;
}

.status-est-violate {
    -fx-background-color: #9467bd;
}

.status-ldt-violate {
    -fx-background-color: #e377c2;
}

.init {
    -fx-background-color: #7f7f7f;
}